@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
  --color-primary: #d42426; /* Vermelho Festivo */
  --color-secondary: #1a1c1c; /* Preto Profundo */
  --color-surface: #f8f9f9; /* Cinza Claro */

  /* Arredondamentos (Estilo Pílula) */
  --radius-btn: 2rem; /* Bordas dos botões */
  --radius-card: 1.5rem;
}

/* Opcional: Configurar o DaisyUI para usar essas cores */
:root {
  --p: var(--color-primary);
  --s: var(--color-secondary);
  --b1: var(--color-surface);
  --rounded-btn: var(--radius-btn);
}
